{% extends 'home.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container" 
     style="
            margin-top: 50px; 
            width: 500px;
            border: solid #048391 3px; 
            border-radius: 10px;
            font-size: 15px;
            background-color: #daf4f7;
     "
     >
      <div style="color: red; text-align: center">
     *Please fill your information into register form
     </div>
     
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
</div>
{% endblock %}